page-my-modal {
  .gradient{
    background: linear-gradient(purple,white,purple,white,purple,white,purple,white);
  }

  .toolbar-title{
    font-family: "AR BERKLEY";
    font-weight: bolder;
    font-size:24px;
  }

  .animate{
    animation-name: slideUp;
    animation-duration: 0.75s;

  }
  p{
    font-family: "Monotype Corsiva";
    font-size: 18px;
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }

    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

}
